<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>七台河</key>
	<real>101051002</real>
	<key>万宁</key>
	<real>101310215</real>
	<key>万州天城</key>
	<real>101041200</real>
	<key>万州龙宝</key>
	<real>101041300</real>
	<key>万盛</key>
	<real>101040600</real>
	<key>三亚</key>
	<real>101310201</real>
	<key>三明</key>
	<real>101230801</real>
	<key>三门峡</key>
	<real>101181701</real>
	<key>上海</key>
	<real>101020100</real>
	<key>上饶</key>
	<real>101240301</real>
	<key>东丽</key>
	<real>101030400</real>
	<key>东方</key>
	<real>101310202</real>
	<key>东莞</key>
	<real>101281601</real>
	<key>东营</key>
	<real>101121201</real>
	<key>中卫</key>
	<real>101170501</real>
	<key>中山</key>
	<real>101281701</real>
	<key>丰台</key>
	<real>101010900</real>
	<key>丰都</key>
	<real>101043000</real>
	<key>临夏</key>
	<real>101161101</real>
	<key>临汾</key>
	<real>101100701</real>
	<key>临沂</key>
	<real>101120901</real>
	<key>临沧</key>
	<real>101291101</real>
	<key>临河</key>
	<real>101080801</real>
	<key>临高</key>
	<real>101310203</real>
	<key>丹东</key>
	<real>101070601</real>
	<key>丽水</key>
	<real>101210801</real>
	<key>丽江</key>
	<real>101291401</real>
	<key>乌兰浩特</key>
	<real>101081101</real>
	<key>乌海</key>
	<real>101080301</real>
	<key>乌鲁木齐</key>
	<real>101130101</real>
	<key>乐东</key>
	<real>101310221</real>
	<key>乐山</key>
	<real>101271401</real>
	<key>九江</key>
	<real>101240201</real>
	<key>云浮</key>
	<real>101281401</real>
	<key>云阳</key>
	<real>101041700</real>
	<key>五指山</key>
	<real>101310222</real>
	<key>亳州</key>
	<real>101220901</real>
	<key>仙桃</key>
	<real>101201601</real>
	<key>伊宁</key>
	<real>101131001</real>
	<key>伊春</key>
	<real>101050801</real>
	<key>佛山</key>
	<real>101280800</real>
	<key>佛爷顶</key>
	<real>101011700</real>
	<key>佳木斯</key>
	<real>101050401</real>
	<key>保亭</key>
	<real>101310214</real>
	<key>保定</key>
	<real>101090201</real>
	<key>保山</key>
	<real>101290501</real>
	<key>信阳</key>
	<real>101180601</real>
	<key>儋州</key>
	<real>101310205</real>
	<key>克拉玛依</key>
	<real>101130201</real>
	<key>八达岭</key>
	<real>101011600</real>
	<key>六安</key>
	<real>101221501</real>
	<key>六盘水</key>
	<real>101260801</real>
	<key>兰州</key>
	<real>101160101</real>
	<key>兴义</key>
	<real>101260906</real>
	<key>内江</key>
	<real>101271201</real>
	<key>凉山</key>
	<real>101271601</real>
	<key>凯里</key>
	<real>101260501</real>
	<key>包头</key>
	<real>101080201</real>
	<key>北京</key>
	<real>101010100</real>
	<key>北京城区</key>
	<real>101012200</real>
	<key>北海</key>
	<real>101301301</real>
	<key>北碚</key>
	<real>101040800</real>
	<key>北辰</key>
	<real>101030600</real>
	<key>十堰</key>
	<real>101201101</real>
	<key>南京</key>
	<real>101190101</real>
	<key>南充</key>
	<real>101270501</real>
	<key>南宁</key>
	<real>101300101</real>
	<key>南川</key>
	<real>101040400</real>
	<key>南平</key>
	<real>101230901</real>
	<key>南昌</key>
	<real>101240101</real>
	<key>南汇</key>
	<real>101020600</real>
	<key>南沙岛</key>
	<real>101310220</real>
	<key>南通</key>
	<real>101190501</real>
	<key>南阳</key>
	<real>101180701</real>
	<key>博乐</key>
	<real>101131601</real>
	<key>厦门</key>
	<real>101230201</real>
	<key>双鸭山</key>
	<real>101051301</real>
	<key>台中</key>
	<real>101340401</real>
	<key>台北县</key>
	<real>101340101</real>
	<key>台州</key>
	<real>101210601</real>
	<key>合作</key>
	<real>101161201</real>
	<key>合川</key>
	<real>101040300</real>
	<key>合肥</key>
	<real>101220101</real>
	<key>吉安</key>
	<real>101240601</real>
	<key>吉林</key>
	<real>101060201</real>
	<key>吉首</key>
	<real>101251501</real>
	<key>吐鲁番</key>
	<real>101130501</real>
	<key>吕梁</key>
	<real>101101100</real>
	<key>吴忠</key>
	<real>101170301</real>
	<key>周口</key>
	<real>101181401</real>
	<key>呼伦贝尔</key>
	<real>101081000</real>
	<key>呼和浩特</key>
	<real>101080101</real>
	<key>和田</key>
	<real>101131301</real>
	<key>咸宁</key>
	<real>101200701</real>
	<key>咸阳</key>
	<real>101110200</real>
	<key>哈密</key>
	<real>101131201</real>
	<key>哈尔滨</key>
	<real>101050101</real>
	<key>唐山</key>
	<real>101090501</real>
	<key>商丘</key>
	<real>101181001</real>
	<key>商洛</key>
	<real>101110601</real>
	<key>喀什</key>
	<real>101130901</real>
	<key>嘉兴</key>
	<real>101210301</real>
	<key>嘉定</key>
	<real>101020500</real>
	<key>嘉峪关</key>
	<real>101161401</real>
	<key>四平</key>
	<real>101060401</real>
	<key>固原</key>
	<real>101170401</real>
	<key>垫江</key>
	<real>101042200</real>
	<key>城口</key>
	<real>101041600</real>
	<key>塔城</key>
	<real>101131101</real>
	<key>塘沽</key>
	<real>101031100</real>
	<key>大兴</key>
	<real>101011100</real>
	<key>大兴安岭</key>
	<real>101050701</real>
	<key>大同</key>
	<real>101100201</real>
	<key>大庆</key>
	<real>101050901</real>
	<key>大港</key>
	<real>101031200</real>
	<key>大理</key>
	<real>101290201</real>
	<key>大足</key>
	<real>101042600</real>
	<key>大连</key>
	<real>101070201</real>
	<key>天水</key>
	<real>101160901</real>
	<key>天津</key>
	<real>101030100</real>
	<key>天门</key>
	<real>101201501</real>
	<key>太原</key>
	<real>101100101</real>
	<key>奉节</key>
	<real>101041900</real>
	<key>奉贤</key>
	<real>101021000</real>
	<key>威海</key>
	<real>101121301</real>
	<key>娄底</key>
	<real>101250801</real>
	<key>孝感</key>
	<real>101200401</real>
	<key>宁德</key>
	<real>101230301</real>
	<key>宁河</key>
	<real>101030700</real>
	<key>宁波</key>
	<real>101210401</real>
	<key>安庆</key>
	<real>101220601</real>
	<key>安康</key>
	<real>101110701</real>
	<key>安阳</key>
	<real>101180201</real>
	<key>安顺</key>
	<real>101260301</real>
	<key>定安</key>
	<real>101310209</real>
	<key>定西</key>
	<real>101160201</real>
	<key>宜宾</key>
	<real>101271101</real>
	<key>宜昌</key>
	<real>101200901</real>
	<key>宜春</key>
	<real>101240501</real>
	<key>宝坻</key>
	<real>101030300</real>
	<key>宝山</key>
	<real>101020300</real>
	<key>宝鸡</key>
	<real>101110901</real>
	<key>宣城</key>
	<real>101221401</real>
	<key>宿州</key>
	<real>101220701</real>
	<key>宿迁</key>
	<real>101191301</real>
	<key>密云</key>
	<real>101011300</real>
	<key>密云上甸子</key>
	<real>101011900</real>
	<key>屯昌</key>
	<real>101310210</real>
	<key>山南</key>
	<real>101140301</real>
	<key>岳阳</key>
	<real>101251001</real>
	<key>崇左</key>
	<real>101300201</real>
	<key>崇明</key>
	<real>101021100</real>
	<key>巢湖</key>
	<real>101221601</real>
	<key>巫山</key>
	<real>101042000</real>
	<key>巫溪</key>
	<real>101041800</real>
	<key>巴中</key>
	<real>101270901</real>
	<key>巴南</key>
	<real>101040900</real>
	<key>常州</key>
	<real>101191101</real>
	<key>常德</key>
	<real>101250601</real>
	<key>平凉</key>
	<real>101160301</real>
	<key>平谷</key>
	<real>101011500</real>
	<key>平顶山</key>
	<real>101180501</real>
	<key>广元</key>
	<real>101272101</real>
	<key>广安</key>
	<real>101270801</real>
	<key>广州</key>
	<real>101280101</real>
	<key>庆阳</key>
	<real>101160401</real>
	<key>库尔勒</key>
	<real>101130601</real>
	<key>廊坊</key>
	<real>101090601</real>
	<key>延吉</key>
	<real>101060301</real>
	<key>延安</key>
	<real>101110300</real>
	<key>延庆</key>
	<real>101010800</real>
	<key>开县</key>
	<real>101041500</real>
	<key>开封</key>
	<real>101180801</real>
	<key>张家口</key>
	<real>101090301</real>
	<key>张家界</key>
	<real>101251101</real>
	<key>张掖</key>
	<real>101160701</real>
	<key>彭水</key>
	<real>101043200</real>
	<key>徐家汇</key>
	<real>101021200</real>
	<key>徐州</key>
	<real>101190801</real>
	<key>德宏</key>
	<real>101291501</real>
	<key>德州</key>
	<real>101120401</real>
	<key>德阳</key>
	<real>101272001</real>
	<key>忠县</key>
	<real>101042400</real>
	<key>忻州</key>
	<real>101101001</real>
	<key>怀化</key>
	<real>101251201</real>
	<key>怀柔</key>
	<real>101010500</real>
	<key>怒江</key>
	<real>101291201</real>
	<key>恩施</key>
	<real>101201001</real>
	<key>惠州</key>
	<real>101280301</real>
	<key>成都</key>
	<real>101270101</real>
	<key>房山</key>
	<real>101011200</real>
	<key>扬州</key>
	<real>101190601</real>
	<key>承德</key>
	<real>101090402</real>
	<key>抚州</key>
	<real>101240401</real>
	<key>抚顺</key>
	<real>101070401</real>
	<key>拉萨</key>
	<real>101140101</real>
	<key>揭阳</key>
	<real>101281901</real>
	<key>攀枝花</key>
	<real>101270201</real>
	<key>文山</key>
	<real>101290601</real>
	<key>文昌</key>
	<real>101310212</real>
	<key>斋堂</key>
	<real>101012000</real>
	<key>新乡</key>
	<real>101180301</real>
	<key>新余</key>
	<real>101241001</real>
	<key>无锡</key>
	<real>101190201</real>
	<key>日喀则</key>
	<real>101140201</real>
	<key>日照</key>
	<real>101121501</real>
	<key>昆明</key>
	<real>101290101</real>
	<key>昌吉</key>
	<real>101130401</real>
	<key>昌平</key>
	<real>101010700</real>
	<key>昌江</key>
	<real>101310206</real>
	<key>昌都</key>
	<real>101140501</real>
	<key>昭通</key>
	<real>101291001</real>
	<key>晋中</key>
	<real>101100401</real>
	<key>晋城</key>
	<real>101100601</real>
	<key>晋江</key>
	<real>101230509</real>
	<key>普洱</key>
	<real>101290901</real>
	<key>景德镇</key>
	<real>101240801</real>
	<key>景洪</key>
	<real>101291601</real>
	<key>曲靖</key>
	<real>101290401</real>
	<key>朔州</key>
	<real>101100901</real>
	<key>朝阳</key>
	<real>101071201</real>
	<key>本溪</key>
	<real>101070501</real>
	<key>来宾</key>
	<real>101300401</real>
	<key>杭州</key>
	<real>101210101</real>
	<key>松原</key>
	<real>101060801</real>
	<key>松江</key>
	<real>101020900</real>
	<key>林芝</key>
	<real>101140401</real>
	<key>果洛</key>
	<real>101150501</real>
	<key>枣庄</key>
	<real>101121401</real>
	<key>柳州</key>
	<real>101300301</real>
	<key>株洲</key>
	<real>101250301</real>
	<key>桂林</key>
	<real>101300501</real>
	<key>梁平</key>
	<real>101042300</real>
	<key>梅州</key>
	<real>101280401</real>
	<key>梧州</key>
	<real>101300601</real>
	<key>楚雄</key>
	<real>101290801</real>
	<key>榆林</key>
	<real>101110401</real>
	<key>武威</key>
	<real>101160501</real>
	<key>武汉</key>
	<real>101200101</real>
	<key>武清</key>
	<real>101030200</real>
	<key>武都</key>
	<real>101161001</real>
	<key>武隆</key>
	<real>101043100</real>
	<key>毕节</key>
	<real>101260701</real>
	<key>永川</key>
	<real>101040200</real>
	<key>永州</key>
	<real>101251401</real>
	<key>汉中</key>
	<real>101110801</real>
	<key>汉沽</key>
	<real>101030800</real>
	<key>汕头</key>
	<real>101280501</real>
	<key>汕尾</key>
	<real>101282101</real>
	<key>江津</key>
	<real>101040500</real>
	<key>江门</key>
	<real>101281101</real>
	<key>池州</key>
	<real>101221701</real>
	<key>汤河口</key>
	<real>101011800</real>
	<key>沈阳</key>
	<real>101070101</real>
	<key>沙坪坝</key>
	<real>101043700</real>
	<key>沧州</key>
	<real>101090701</real>
	<key>河池</key>
	<real>101301201</real>
	<key>河源</key>
	<real>101281201</real>
	<key>泉州</key>
	<real>101230501</real>
	<key>泰安</key>
	<real>101120801</real>
	<key>泰州</key>
	<real>101191201</real>
	<key>泸州</key>
	<real>101271001</real>
	<key>洛阳</key>
	<real>101180901</real>
	<key>津南</key>
	<real>101031000</real>
	<key>济南</key>
	<real>101120101</real>
	<key>济宁</key>
	<real>101120701</real>
	<key>济源</key>
	<real>101181801</real>
	<key>浦东</key>
	<real>101021300</real>
	<key>海东</key>
	<real>101150201</real>
	<key>海北</key>
	<real>101150801</real>
	<key>海南</key>
	<real>101150401</real>
	<key>海口</key>
	<real>101310101</real>
	<key>海淀</key>
	<real>101010200</real>
	<key>海西</key>
	<real>101150701</real>
	<key>涪陵</key>
	<real>101041400</real>
	<key>淄博</key>
	<real>101120301</real>
	<key>淮北</key>
	<real>101221201</real>
	<key>淮南</key>
	<real>101220401</real>
	<key>淮安</key>
	<real>101190901</real>
	<key>深圳</key>
	<real>101280601</real>
	<key>清远</key>
	<real>101281301</real>
	<key>渝北</key>
	<real>101040700</real>
	<key>温州</key>
	<real>101210701</real>
	<key>渭南</key>
	<real>101110501</real>
	<key>湖州</key>
	<real>101210201</real>
	<key>湘潭</key>
	<real>101250201</real>
	<key>湛江</key>
	<real>101281001</real>
	<key>滁州</key>
	<real>101221101</real>
	<key>滨州</key>
	<real>101121101</real>
	<key>漯河</key>
	<real>101181501</real>
	<key>漳州</key>
	<real>101230601</real>
	<key>潍坊</key>
	<real>101120601</real>
	<key>潜江</key>
	<real>101201701</real>
	<key>潮州</key>
	<real>101281501</real>
	<key>潼南</key>
	<real>101042100</real>
	<key>澄迈</key>
	<real>101310204</real>
	<key>濮阳</key>
	<real>101181301</real>
	<key>烟台</key>
	<real>101120501</real>
	<key>焦作</key>
	<real>101181101</real>
	<key>牡丹江</key>
	<real>101050301</real>
	<key>玉林</key>
	<real>101300901</real>
	<key>玉树</key>
	<real>101150601</real>
	<key>玉溪</key>
	<real>101290701</real>
	<key>珠海</key>
	<real>101280701</real>
	<key>琼中</key>
	<real>101310208</real>
	<key>琼山</key>
	<real>101310102</real>
	<key>琼海</key>
	<real>101310211</real>
	<key>璧山</key>
	<real>101042900</real>
	<key>甘孜</key>
	<real>101271801</real>
	<key>白城</key>
	<real>101060601</real>
	<key>白山</key>
	<real>101060901</real>
	<key>白沙</key>
	<real>101310207</real>
	<key>白银</key>
	<real>101161301</real>
	<key>百色</key>
	<real>101301001</real>
	<key>益阳</key>
	<real>101250700</real>
	<key>盐城</key>
	<real>101190701</real>
	<key>盘锦</key>
	<real>101071301</real>
	<key>眉山</key>
	<real>101271501</real>
	<key>石嘴山</key>
	<real>101170201</real>
	<key>石家庄</key>
	<real>101090101</real>
	<key>石景山</key>
	<real>101011000</real>
	<key>石柱</key>
	<real>101042500</real>
	<key>石河子</key>
	<real>101130301</real>
	<key>神农架</key>
	<real>101201201</real>
	<key>福州</key>
	<real>101230101</real>
	<key>秀山</key>
	<real>101043600</real>
	<key>秦皇岛</key>
	<real>101091101</real>
	<key>綦江</key>
	<real>101043300</real>
	<key>红河</key>
	<real>101290301</real>
	<key>绍兴</key>
	<real>101210501</real>
	<key>绥化</key>
	<real>101050501</real>
	<key>绵阳</key>
	<real>101270401</real>
	<key>聊城</key>
	<real>101121701</real>
	<key>肇庆</key>
	<real>101280901</real>
	<key>自贡</key>
	<real>101270301</real>
	<key>舟山</key>
	<real>101211101</real>
	<key>芜湖</key>
	<real>101220301</real>
	<key>苏州</key>
	<real>101190401</real>
	<key>茂名</key>
	<real>101282001</real>
	<key>荆州</key>
	<real>101200801</real>
	<key>荆门</key>
	<real>101201401</real>
	<key>荣昌</key>
	<real>101042700</real>
	<key>莆田</key>
	<real>101230401</real>
	<key>莱芜</key>
	<real>101121601</real>
	<key>菏泽</key>
	<real>101121001</real>
	<key>萍乡</key>
	<real>101240901</real>
	<key>营口</key>
	<real>101070801</real>
	<key>葫芦岛</key>
	<real>101071401</real>
	<key>蓟县</key>
	<real>101031400</real>
	<key>蚌埠</key>
	<real>101220201</real>
	<key>衡水</key>
	<real>101090801</real>
	<key>衡阳</key>
	<real>101250401</real>
	<key>衢州</key>
	<real>101211001</real>
	<key>襄樊</key>
	<real>101200201</real>
	<key>西宁</key>
	<real>101150101</real>
	<key>西安</key>
	<real>101110101</real>
	<key>西沙</key>
	<real>101310217</real>
	<key>西青</key>
	<real>101030500</real>
	<key>许昌</key>
	<real>101180401</real>
	<key>贵港</key>
	<real>101300801</real>
	<key>贵阳</key>
	<real>101260101</real>
	<key>贺州</key>
	<real>101300701</real>
	<key>资阳</key>
	<real>101271301</real>
	<key>赣州</key>
	<real>101240701</real>
	<key>赤峰</key>
	<real>101080601</real>
	<key>辽源</key>
	<real>101060701</real>
	<key>辽阳</key>
	<real>101071001</real>
	<key>达州</key>
	<real>101270601</real>
	<key>运城</key>
	<real>101100801</real>
	<key>连云港</key>
	<real>101191001</real>
	<key>通化</key>
	<real>101060501</real>
	<key>通州</key>
	<real>101010600</real>
	<key>通辽</key>
	<real>101080501</real>
	<key>遂宁</key>
	<real>101270701</real>
	<key>遵义</key>
	<real>101260201</real>
	<key>邢台</key>
	<real>101090901</real>
	<key>那曲</key>
	<real>101140601</real>
	<key>邯郸</key>
	<real>101091001</real>
	<key>邵阳</key>
	<real>101250901</real>
	<key>郑州</key>
	<real>101180101</real>
	<key>郴州</key>
	<real>101250501</real>
	<key>都匀</key>
	<real>101260401</real>
	<key>鄂尔多斯</key>
	<real>101080701</real>
	<key>鄂州</key>
	<real>101200301</real>
	<key>酉阳</key>
	<real>101043400</real>
	<key>酒泉</key>
	<real>101160801</real>
	<key>重庆</key>
	<real>101040100</real>
	<key>金华</key>
	<real>101210901</real>
	<key>金山</key>
	<real>101020700</real>
	<key>金昌</key>
	<real>101160601</real>
	<key>钦州</key>
	<real>101301101</real>
	<key>铁岭</key>
	<real>101071101</real>
	<key>铜仁</key>
	<real>101260601</real>
	<key>铜川</key>
	<real>101111001</real>
	<key>铜梁</key>
	<real>101042800</real>
	<key>铜陵</key>
	<real>101221301</real>
	<key>银川</key>
	<real>101170101</real>
	<key>锡林浩特</key>
	<real>101080901</real>
	<key>锦州</key>
	<real>101070701</real>
	<key>镇江</key>
	<real>101190301</real>
	<key>长寿</key>
	<real>101041000</real>
	<key>长春</key>
	<real>101060101</real>
	<key>长沙</key>
	<real>101250101</real>
	<key>长治</key>
	<real>101100501</real>
	<key>门头沟</key>
	<real>101011400</real>
	<key>闵行</key>
	<real>101020200</real>
	<key>阜新</key>
	<real>101070901</real>
	<key>阜阳</key>
	<real>101220801</real>
	<key>防城港</key>
	<real>101301401</real>
	<key>阳江</key>
	<real>101281801</real>
	<key>阳泉</key>
	<real>101100301</real>
	<key>阿克苏</key>
	<real>101130801</real>
	<key>阿勒泰</key>
	<real>101131401</real>
	<key>阿图什</key>
	<real>101131501</real>
	<key>阿坝</key>
	<real>101271901</real>
	<key>阿拉善左旗</key>
	<real>101081201</real>
	<key>阿拉尔</key>
	<real>101130701</real>
	<key>阿里</key>
	<real>101140701</real>
	<key>陵水</key>
	<real>101310216</real>
	<key>随州</key>
	<real>101201301</real>
	<key>雅安</key>
	<real>101271701</real>
	<key>集宁</key>
	<real>101080401</real>
	<key>霞云岭</key>
	<real>101012100</real>
	<key>青岛</key>
	<real>101120201</real>
	<key>青浦</key>
	<real>101020800</real>
	<key>静海</key>
	<real>101030900</real>
	<key>鞍山</key>
	<real>101070301</real>
	<key>韶关</key>
	<real>101280201</real>
	<key>顺义</key>
	<real>101010400</real>
	<key>香格里拉</key>
	<real>101291301</real>
	<key>马鞍山</key>
	<real>101220501</real>
	<key>驻马店</key>
	<real>101181601</real>
	<key>高雄</key>
	<real>101340201</real>
	<key>鸡西</key>
	<real>101051101</real>
	<key>鹤壁</key>
	<real>101181201</real>
	<key>鹤岗</key>
	<real>101051201</real>
	<key>鹰潭</key>
	<real>101241101</real>
	<key>黄冈</key>
	<real>101200501</real>
	<key>黄南</key>
	<real>101150301</real>
	<key>黄山</key>
	<real>101221001</real>
	<key>黄石</key>
	<real>101200601</real>
	<key>黑河</key>
	<real>101050601</real>
	<key>黔江</key>
	<real>101041100</real>
	<key>黔阳</key>
	<real>101251301</real>
	<key>齐齐哈尔</key>
	<real>101050201</real>
	<key>龙岩</key>
	<real>101230701</real>
</dict>
</plist>
